body {
    font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;
}
.main {
    margin: 0;
}
.subtitle {
    border-left: 5px solid chocolate;
    padding-left: 10px;
    color: blueviolet;
    margin-top: 30px;
}
.text {
    text-align:  center;   
}

.photo {
    box-sizing: border-box;
    width: 400px;
    height: auto;
    border: 1px solid gray;
}

tr {
    background-color: rgb(21, 230, 232);
}

.header {
    padding: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
  }

.img-wrapper {
    background-color: rgb(204, 204, 204);
    padding: 20px;
    text-align: center;
}

.title {
    color: gray;
    text-align: center;
}